@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=BenchNine:wght@300;400;700&display=swap');

h1 {
  font-family: 'Abril Fatface', cursive;
  font-family: 'BenchNine', sans-serif;
}
p {
  font-family: 'Abril Fatface', cursive;
  font-family: 'BenchNine', sans-serif;
}